@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
    background-color: white;
    font-family: sans-serif;
    text-align: center;
}

.titreApp {
	font-family: 'Platypi', sans-serif;
	font-weight: 800;
	color: rgb(42, 42, 42);
	text-transform: uppercase;
	letter-spacing: 3px;
}

tr, th, table, td {
	border-collapse: collapse;
	padding: 10px;
}

tr, th, td {
	border: 1px solid black;
}

.image {
	width:50px;
}

.validate{
	color:green;
	cursor: pointer;
}

.refuse {
	color: rgb(208, 26, 26);
	cursor: pointer;
}

#center {
	display: flex;
	justify-content: center;
}

table {
	width: 90%;
	margin-top: 50px;
}

tr:hover {
	background-color: rgb(174, 213, 240);
}

th{
	background-color: rgb(42, 42, 42);
	color: white;
}